@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");

:root {
  --color-primary: #6a96ee;
  --color-secondary: #7ccdf9;
  --color-tertiary: #fff;
  --color-quaternary: #4447eb;
  --color-quinary: #b352eb;
  --color-senary: #9294eb;
  --size-large: 8rem;
  --size-medium: 5rem;
  --size-small: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Koh Santepheap", serif;
  background-color: var(--color-primary);
}

header {
  color: var(--color-tertiary);
  padding: 3rem;
  text-align: center;
}

main {
  background-color: var(--color-secondary);
  padding: var(--size-small);
  text-align: center;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  padding: var(--size-small);
  text-align: center;
}

#container-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-small);
  font-size: var(--size-small);
}

#container-startDate {
  padding: var(--size-small);
  margin-right: var(--size-large);
}

#container-endDate {
  padding: var(--size-small);
  margin-left: var(--size-large);
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

input[type="date"] {
  background-color: var(--color-tertiary);
  width: var(--size-large);
  height: var(--size-small);
}

input[type="button"] {
  color: var(--color-tertiary);
  width: var(--size-large);
  height: var(--size-small);
}

/* todo: estilizar página result */
